.home {
    position: relative;
    width: 1080px;
    height: 1280px;
    margin: 0 auto;
    background: url("../assets/images/display/bg.png") center center no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    .header-page {
        text-align: center;
        font-size: 49px;
        line-height: 89px;
        color: #fff;
        height: 83px;
        background: url("../assets/images/display/bg-header.png") center center no-repeat;
        background-size: 100% 100%;
    }
    .main-box {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 14px 12px 24px;
        padding: 0 25px;
        background: url("../assets/images/display/bg-content.png") center center no-repeat;
        background-size: 100% 100%;
        .time-page {
            height: 42px;
            text-align: center;
            font-size: 30px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 42px;
            color: #2983ff;
        }
        .weather-page {
            display: flex;
            height: 180px;
            background: url("../assets/images/display/bg-wether.png") center center no-repeat;
            background-size: 100% 100%;
            .weather-info-left {
                position: relative;
                flex: 1;
                display: flex;
                & > img {
                    width: 93px;
                    height: 84px;
                    margin-top: 60px;
                    margin-left: 24px;
                }
                .p1 {
                    padding-top: 30px;
                    padding-left: 26px;
                    h5 {
                        font-size: 26px;
                        font-family: Microsoft YaHei;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 1);
                        line-height: 26px;
                    }
                    p {
                        font-size: 75px;
                        font-family: Microsoft YaHei;
                        font-weight: bold;
                        color: rgba(255, 255, 255, 1);
                        line-height: 110px;
                        span {
                            display: inline-block;
                            font-size: 31px;
                            font-family: Microsoft YaHei;
                            font-weight: bold;
                            color: rgba(255, 255, 255, 1);
                            line-height: 88px;
                            vertical-align: top;
                        }
                    }
                }
                .p2 {
                    padding-top: 80px;
                    padding-left: 18px;
                    h6 {
                        font-size: 26px;
                        font-family: Microsoft YaHei;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 1);
                        line-height: 36px;
                    }
                    p {
                        font-size: 17px;
                        font-family: Microsoft YaHei;
                        color: rgba(255, 255, 255, 1);
                        line-height: 20px;
                    }
                }
                .right-line {
                    position: absolute;
                    right: 30px;
                    top: 40px;
                    width: 2px;
                    height: 99px;
                    background: rgba(148, 177, 235, 1);
                }
            }
            .weather-info-right {
                flex: 1;
                h6 {
                    display: inline-block;
                    height: 26px;
                    line-height: 26px;
                    font-size: 14px;
                    font-family: Microsoft YaHei;
                    font-weight: 400;
                    color: rgba(160, 191, 251, 1);
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 13px;
                    padding: 0 15px;
                    margin-top: 10px;
                    i {
                        display: inline-block;
                        width: 14px;
                        height: 13px;
                        background: url("../assets/images/display/icom-home.png") center center no-repeat;
                        background-size: 100% 100%;
                        margin-right: 6px;
                    }
                }
                .weather-list {
                    display: flex;
                    li {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        margin-right: 32px;
                        text-align: center;
                        span {
                            font-size: 16px;
                            font-family: Microsoft YaHei;
                            font-weight: 300;
                            color: rgba(255, 255, 255, 1);
                            line-height: 20px;
                            padding-top: 10px;
                        }
                        img {
                            width: 45px;
                            height: 44px;
                        }
                        strong {
                            font-size: 17px;
                            font-family: Microsoft YaHei;
                            font-weight: 400;
                            color: rgba(255, 255, 255, 1);
                            line-height: 49px;
                        }
                    }
                }
            }
        }
        .feature-page {
            flex: 1;
            .rain {
                display: flex;
                flex-direction: column;
                height: 100%;
                .top {
                    flex: 1;
                    display: flex;
                    .left {
                        position: relative;
                        flex: 1;
                        background: url("../assets/images/display/bg-feature.png") center center no-repeat;
                        background-size: 100% 100%;
                        .liquid-fill {
                            width: 186px;
                            height: 186px;
                            padding: 20px;
                            margin: 40px auto 0;
                            border-radius: 50%;
                            background: #072961;
                            // .fill-box{
                            //     position: absolute;
                            //     top: 50%;
                            //     left: 50%;
                            //     transform: translate(-50%,-50%);
                            //     width: 166px;
                            //     height: 166px;
                            //     background: #7BFF49;
                            //     border-radius: 50%;
                            // }
                        }
                        .active-box {
                            display: flex;
                            text-align: center;
                            .active-box-left {
                                flex: 1;
                            }
                            .active-box-right {
                                flex: 1;
                            }
                            p {
                                cursor: pointer;
                                img {
                                    width: 42px;
                                    height: 42px;
                                    margin-bottom: 20px;
                                }
                                span {
                                    display: inline-block;
                                    width: 127px;
                                    height: 34px;
                                    line-height: 34px;
                                    background: url("../assets/images/display/bg-man.png") center center no-repeat;
                                    background-size: 100% 100%;
                                    font-size: 12px;
                                    font-family: Adobe Heiti Std;
                                    color: rgba(255, 255, 255, 1);
                                    &.active {
                                        background: url("../assets/images/display/bg-auto.png") center center no-repeat;
                                        background-size: 100% 100%;
                                    }
                                }
                            }
                        }
                        .stop-box {
                            position: absolute;
                            right: 16px;
                            top: 16px;
                            z-index: 10;
                            width: 80px;
                            height: 34px;
                            background: url("../assets/images/display/icon-stop.png") center center no-repeat;
                            background-size: 100% 100%;
                            cursor: pointer;
                        }
                    }
                    .right {
                        flex: 1;
                        background: url("../assets/images/display/bg-feature.png") center center no-repeat;
                        background-size: 100% 100%;
                        .solar-energy {
                            width: 100%;
                            height: 100%;
                            background: url("../assets/images/display/demo2.png") center 50px no-repeat;
                            background-size: 421px 244px;
                        }
                    }
                }
                .bottom {
                    flex: 1;
                    display: flex;
                    .left {
                        flex: 1;
                        background: url("../assets/images/display/bg-feature.png") center center no-repeat;
                        background-size: 100% 100%;
                        .check {
                            width: 100%;
                            height: 100%;
                            background: url("../assets/images/display/demo.png") center 20px no-repeat;
                            background-size: 398px 294px;
                            // .check-box {
                            //     display: flex;
                            // }
                            // .check-left {
                            //     flex: 1;
                            //     text-align: center;
                            // }
                            // .check-right {
                            //     flex: 1;
                            //     text-align: center;
                            // }
                        }
                    }
                    .right {
                        flex: 1;
                        background: url("../assets/images/display/bg-feature.png") center center no-repeat;
                        background-size: 100% 100%;
                        .device-status {
                            width: 100%;
                            height: 100%;
                            background: url("../assets/images/display/demo3.png") center 30px no-repeat;
                            background-size: 421px 244px;
                        }
                    }
                }
                h5 {
                    text-align: center;
                    font-size: 18px;
                    font-family: Adobe Heiti Std;
                    font-weight: bold;
                    color: rgba(0, 228, 255, 1);
                    line-height: 22px;
                    padding-top: 10px;
                }
            }
            .login {
                height: 100%;
                display: flex;
                flex-direction: column;
                .top {
                    flex: 7;
                    text-align: center;
                    .log-box {
                        display: inline-block;
                        width: 343px;
                        height: 456px;
                        vertical-align: middle;
                        background: rgba(22, 214, 255, 0.08);
                        margin: 0 60px;
                        margin-top: 10%;
                        cursor: pointer;
                        .img-box {
                            text-align: center;
                            img {
                                width: 163px;
                                height: auto;
                                margin-top: 56px;
                            }
                        }
                        a {
                            padding-top: 32px;
                            text-align: center;
                            display: block;
                            font-size: 37px;
                            font-family: Microsoft YaHei;
                            font-weight: bold;
                            color: #4ca2ff;
                            line-height: 40px;
                        }
                    }
                }
                .bottom {
                    flex: 3;
                    .log-box {
                        display: inline-block;
                        width: 338px;
                        height: 140px;
                        vertical-align: middle;
                        background: rgba(22, 214, 255, 0.08);
                        margin-top: 5%;
                        padding-top: 15px;
                        margin-left: 90px;
                        cursor: pointer;
                        img {
                            width: 72px;
                            height: 100px;
                            margin-right: 18px;
                            margin-left: 20px;
                        }
                        a {
                            display: inline-block;
                            font-size: 31px;
                            font-family: Microsoft YaHei;
                            font-weight: bold;
                            color: rgba(76, 162, 255, 1);
                            vertical-align: middle;
                        }
                    }
                }
            }
            .video-box {
                height: 100%;
                padding: 45px 0;
                // img {
                //     width: 100%;
                //     height: 100%;
                // }
                .video-player{
                    height: 666px;
                }
            }
            .circle-progress {
                width: 120px;
                height: 120px;
                margin: 0 auto;
                position: relative;
                margin-bottom: 5px;
                .wrapper {
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    overflow: hidden;
                    .circle-progress-bar {
                        width: 200%;
                        height: 100%;
                        box-sizing: border-box;
                        border: 12px solid #303977;
                        border-radius: 50%;
                        position: absolute;
                        top: 0;
                        transform: rotate(45deg);
                    }
                    .circle-right {
                        border-top: 12px solid #f9bf31;
                        border-right: 12px solid #f9bf31;
                        right: 0;
                    }
                    .circle-left {
                        border-bottom: 12px solid #f9bf31;
                        border-left: 12px solid #f9bf31;
                        left: 0;
                    }
                    .circle-right2 {
                        border-top: 12px solid #00aeef;
                        border-right: 12px solid #00aeef;
                        right: 0;
                    }
                    .circle-left2 {
                        border-bottom: 12px solid #00aeef;
                        border-left: 12px solid #00aeef;
                        left: 0;
                    }
                }
                .wrapper-right {
                    right: 1px;
                }
                .wrapper-left {
                    left: 0;
                }
                .wrapper-back {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    border-radius: 50%;
                    border: 12px solid #eee;
                }
            }
        }
        .footer-page {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 20px;
            ul {
                flex: 1;
                margin: 0px;
                li {
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                    i {
                        width: 30px;
                        height: 24px;
                        background: url("../assets/images/display/icon-txt.png") center center no-repeat;
                        background-size: 100% 100%;
                        margin-right: 16px;
                    }
                    span {
                        flex: 1;
                        line-height: 40px;
                        font-size: 25px;
                        font-family: Microsoft YaHei;
                        background: rgba(67, 154, 255, 0.2);
                        color: #4ca2ff;
                    }
                }
            }
            & > img {
                width: 156px;
                height: 156px;
                margin-left: 20px;
                margin-bottom: 9px;
            }
        }
    }
    .go-login {
        position: absolute;
        width: 37px;
        height: 219px;
        background: url("../assets/images/display/bg-login.png") center center no-repeat;
        background-size: 100% 100%;
        left: 0px;
        top: 10px;
        z-index: 10;
        padding-top: 84px;
        cursor: pointer;
        span {
            display: inline-block;
            width: 100%;
            font-size: 20px;
            font-family: Microsoft YaHei;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
            line-height: 24px;
            text-align: center;
        }
    }
    .login-out {
        position: absolute;
        left: 90px;
        top: 40px;
        z-index: 10;
        width: 134px;
        height: 55px;
        line-height: 55px;
        background: linear-gradient(0deg, rgba(27, 147, 216, 1) 0%, rgba(17, 33, 94, 1) 100%);
        border: 2px solid rgba(27, 147, 216, 1);
        border-radius: 8px;
        text-align: center;
        font-size: 30px;
        font-family: Microsoft YaHei;
        font-weight: bold;
        color: rgba(150, 200, 255, 1);
        cursor: pointer;
    }
    .charge-box {
        position: absolute;
        right: 90px;
        top: 40px;
        z-index: 10;
        display: flex;
        width: 134px;
        height: 55px;
        font-size: 28px;
        line-height: 53px;
        font-family: DS-Digital;
        font-weight: bold;
        color: rgba(147, 255, 21, 1);
        span {
            margin-right: 4px;
        }
        i {
            display: inline-block;
            width: 49px;
            height: 53px;
            background: url("../assets/images/display/icon-charge.gif") center center no-repeat;
            background-size: 100% 100%;
        }
    }
}
